        *
        {
            font-family: 'Poppins', sans-serif;
            margin:0px;
        }
        :root
        {
            --cor1:#D9D9D9;
            --cor2:teal;
            --font1:Arial, Helvetica, sans-serif;
        }
        body
        {
            margin: 0px;
            padding:0px;
        }
        nav
        {
            background-color: teal;
            color: white;
            margin: 0px;
            padding: 15px;
            height: 52px;
        }
        a{
           margin-right: 35px;
           text-decoration: none;
           font-size: 1em;
           color: white;
           transition: 2s;
           font-family: var(--font1)
        }
        .cadastro
        {
            padding: 10px;
            font-size: 1.1em;
            border-radius: 5px;
            transition: 2s;
            color: var(--cor2);
            font-weight: bold;
            background-color: white;
            border: 1px solid white;
            font-family: var(--font1);
        }
        .cadastro:hover
        {
            background-color: var(--cor2);
            color: white;
        }
        a:hover
        {
            color:black;
        }
        strong
        {
            margin-right: 100px;
            margin-left: 20px;
            font-size: 33px;
            text-shadow: 3px 3px 3px black;
            font-family: Arial, Helvetica, sans-serif;
        }
        .imagem  /*Primeira imagem do corpo do site*/
        {
            background-color: aqua;
            color: aqua;
            height: 560px;
            background-image: url(imagens/original.png);
            background-size: cover;
            background-position: center;
            margin-top: 10px;
            margin: 0px;
        }
        .servicos
        {
            width:98.9vw;
            height:300px;
            background-size:cover;
            background-repeat:no-repeat;
            background-color: var(--cor2);
        }
        #ns
        {
            font-family: var(--font1);
            text-align: center;
        }
        .meio
        {
            display: inline-block; 
        }
        section > h1
        {
            font-family: var(--font1);
            text-align: center;
            padding-top: 25px;
            font-size: 35px;
        } 
        section > p
        {
            text-align: center;
            margin-top: 20px;
            font-size: 25px;
        }
        .caixa
        {
            height: 100px;
            width: 100px;
            max-width:50%;
            margin-top:-10px; 
            margin-left:52px;
            margin-right:295px;
        }
        .recebimento{
           margin-left:25px;
        }
        .recebimento1
        {
            margin-left: 5px;
        }
        .caixaa
        {
            margin-right: 40px;
            height:100px;
            position:absolute;
            left: 590px;
            margin-top:-145px;
        }
        .armazenamento
        {
            position: absolute;
            left:600px;
            margin-top:-50px;
            margin-left:-50px;
        }
        .armazenamento1
        {
            position: absolute;
            left:515px;
            margin-top:-20px;
        }
        .carro
        {
            margin-right: 40px;
            height:125px;
            position:absolute;
            left:1150px;
            margin-top:-170px;  
        }
         .envio
        {
           position: absolute;
           left:1190px;
           margin-top:-70px; 
           margin-left:-65px;
        }
         .envio1
        {
            position: absolute;
            left:1000px;
            margin-top:-40px;
        }
        .empresa
        {
            height:455px;
            width:552px;
            position: absolute;
            left:799px;
            margin-top:-454px;
            background-image: url(imagens/Empresa.png);
            background-repeat: no-repeat;
            background-size: cover;
            background-color:var(--cor2);
        }
        .barra
        {
            background-color: rgba(0, 0, 0, 0.493);
            height:70px;
            color: white;
        }
        .barra1
        {
            text-align: center;
        }
        .comofunciona
        {
            width:98.9vw;
            height:300px;
            background-color:var(--cor2);
        }
        .cadastroboneco
        {
           height: 100px;
           max-width:50%;
           margin-top:-10px; 
           margin-left:52px;
           margin-right:295px; 
           width: 100px;
        }
        .cadastroboneco1
        {
          font-size:1.40em;
          margin-left:-1130px;
          margin-top:-20px;
        }
        .armazen
        {
            height:100px;
            position: absolute;
            left:600px;
            margin-top:-140px;
        }
        .armazen1
        {
          font-size:1.40em;
          margin-left:500px;  
          margin-top:-26px;
        }
        .entregador
        {
            height:100px;
            position: absolute;
            left:1100px;
            margin-top:-140px;
        }
        .entregador1
        {
          font-size:1.40em;
          margin-left:1000px;  
          margin-top:-25px;
        }
        .imagemdofundo
        {
           height:700px;
           width:98,2vw;
          /* filter: brightness(0.6); */
           background-size: cover;
         /*  background-attachment: fixed; */
           background-image: url(imagens/pexels-tiger-lily-4481259.jpg);
        }
        #rod
        {
            position: absolute;
            left:400px;
            margin-top:80px;
        }
        footer
        {
            height:100px;
            color: white;
            background-color:rgb(0, 0, 0);
        }